## 4.6.1 Merging and Exporting - Orders

### This script contains the following points:

#### 1. Import the new dataset (orders_products_prior)
#### 2. Check the dimensions of the imported dataframe
#### 3. Merge the dataframe with the df_ords dataframe
#### 4. Use the indicator argument to check whether there was a full match between the two dataframes
#### 5. Export the merged file in pickle format

### Importing libraries

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

### 01. & 02. Importing data & Checking dimensions for each df

In [4]:
#create string path for main project folder
path = r'/Users/AngieUS/Desktop/Instacart Project'

#import orders_products_prior data
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

#check df_prods
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [3]:
#display dimensions of df_ords_prior - rows, columns
df_ords_prior.shape

(32434489, 4)

In [14]:
#import df_ords data from cleaned orders_checked file
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

#remove irrelevant column 
df_ords = df_ords.drop(['Unnamed: 0'], axis=1)

#check df_ords
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

In [6]:
#display dimensions of df_ords - rows, columns
df_ords.shape

(3214874, 7)

### 03. Merge df_ords and df_ords_prior

In [15]:
#create new df that contains the combined df_ords and df_ords_prior dataframes using “order_id” = key
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

#check df_merged_large
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [11]:
#display dimensions of df_merged_large - rows, columns
df_merged_large.shape

(30356421, 11)

### 04. Check merge flag frequency

In [12]:
#display merge flag frequency for df_merged_large
df_merged_large['_merge'].value_counts()

_merge
both          30356421
left_only            0
right_only           0
Name: count, dtype: int64

### Note: while I've copied the code from the lesson - my merge flag frequency is different most likely due to my df_ords is from my cleaned file (Prepared) orders_checked.csv. Plesae refer back to 4.5 for the consistency checks that were performed.
### This is the code to combine all the observations to show the real merge rate: **df_merged_large = df_ords.merge(df_ords_prior, on='order_id', how='outer', indicator=True)**

### 05. Export data

In [16]:
#export data (pkl file) as 
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))